.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
out
*.local
.cache
server/dist
public/dist

*storybook.log
.vercel
**/node_modules
docker-compose.yml
.claude
.env

release
cmsweb-app-react.zip

# Playwright
e2e/.auth/
playwright-report/
test-results/